<div class="form-group">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of vehicleList; index as i;" [ngClass]="selectedVehicle && selectedVehicle == item.name ? 'active' : ''">
            <label>
                <input type="radio" name="vehicleGroup" [value]="item.name" [checked]="item.name == selectedVehicle"
                    [disabled]="(item.max_distance < selectedPlanet.distance) || (item.total_no === 0)"
                    (change)="updateSelectedVehicle($event)" />
                <img [src]="imageBasePath + item.name + '.svg'">
                {{item.name}} ({{item.total_no}})
            </label>
        </li>
    </ul>

</div>