<div class="row">
    <div class="col-lg-12 spacing-20">
        <h1 class="text-center"> FINDING FALCONE </h1>

        <div class="row">
            <app-selection-form class="col-lg-3"></app-selection-form>
            <app-selection-form class="col-lg-3"></app-selection-form>
            <app-selection-form class="col-lg-3"></app-selection-form>
            <app-selection-form class="col-lg-3"></app-selection-form>

            <input type="submit" value="SUBMIT" /> {{totalTimeTaken}}
        </div>
    </div>
</div>